#grille[b-4287ovot8c] {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(36, 0, 165);
    height: 100%;
    width: 100%;
}

#case[b-4287ovot8c] {
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-color: rgb(8, 149, 243);
}

.boutons[b-4287ovot8c]{
    background-position: bottom;
}