.boutons[b-4287ovot8c]{
    background-position: bottom;
}

#test[b-4287ovot8c]{
    width: 23px;
    height: 23px;
    border: 1px solid;
    border-color: rgb(8, 149, 243);
}
#grille[b-4287ovot8c]{
    background-color: rgba(0, 0, 0, 0.13);
    width: 230px;
}