@page "/crédits"

<PageTitle>Crédits</PageTitle>

<h1>Crédits</h1>

<p>Voici le vrai jeu <a href="https://tetris.com/play-tetris">Tetris</a> ici</p>
<p>Ce projet est un projet scolaire réalisé par 3 étudiants du Campus Ynov Nantes.</p>
<p>Pour ce projet, nous avons utilisé Visual Studio Code pour la partie codage et pour le diagramme à l'aide de Live Share pour travailler à 3 sur le diagramme. Pour le codage, nous avons utilisé Blazor pour l'utilisation du C#, de l'HTML et du CSS. Enfin, nous avons utilisé github pour stocker l'entièreté de notre projet.</p>
<br>
<h4>Membres du groupe:</h4>
<p>Florian DAGNAS</p>
<p>Mathias LEROY</p>
<p>Mathis VERON</p>

<a href="">
        <input type="button" class="bouton"value="Retour"/>
</a>