#grille {
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(36, 0, 165);
    height: 100%;
    width: 100%;
}

#case {
    width: 100%;
    height: 100%;
    border: 1px solid;
    border-color: rgb(8, 149, 243);
}

.boutons{
    background-position: bottom;
}