@namespace BlazorApp
@page "/game"
@code {
        Background Background = new Background();
}

<PageTitle>Game</PageTitle>

<h1>Game</h1>

<div class="interface">
        <div id="grille">
                @for (int i = 0; i < Background.Hauteur; i++){
                        <tr>
                                <div id="case">
                                        @for (int j = 0; j < Background.Largeur; j++){
                                                <br>
                                        }       
                                </div>
                                
                                        
                        </tr>
                }
        </div>
</div>
<br>
<div class="boutons">
        <input type="button" class="bouton" value="Lancer la partie"/>
        <a href="">
                <input type="button" class="bouton" value="Retour"/>
        </a>       
</div>

