@namespace BlazorApp.Pages
@page "/"
<PageTitle>Projet Tetris Ynov Nantes</PageTitle>

<h1>Bienvenue sur notre Tetris</h1>

<p id="p">Prêt pour une nouvelle partie!</p>
<br>
<br>
<img href="https://images-na.ssl-images-amazon.com/images/I/61Wvdn29vZL.png">
<br>
<p>
    <a href="Game">
        <input type="button" class="bouton" value="Jouer" name="Jouer"/>
    </a>
    <a href="Option">
        <input type="button" class="bouton"value="Options"/>
    </a>
    <a href="Crédits">
        <input type="button" class="bouton"value="Crédits"/>
    </a>
</p>