@page "/option"
@using BlazorApp.Data
@inject WeatherForecastService ForecastService

<PageTitle>Options</PageTitle>

<h1>Options</h1>

<h3>Choix des options</h3>


<a href="">
        <input type="button" class="bouton"value="Retour"/>
</a>
